.navigation {
  background-color: #fff;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.navigation__link--item {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.navigation--link {
  margin-left: 5rem;
}

.navigation__link--wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media screen and (max-width: 600px) {
  .navigation__link--item {
    font-size: 1rem;
  }

  .navigation--link {
    margin-left: 2rem;
  }

  .navigation__link--wrapper {
    gap: 2rem;
  }
}